<!-- loader -->
<div class="justify-content-center align-items-center" id="loading">
    <img src="~/img/808.gif" alt="Yükleniyor..." />
</div>

<script>
    window.addEventListener('load', fg_load)

    function fg_load() {
        document.getElementById('loading').style.display = 'none'
    }
</script>
<!-- loader -->