@{
    ViewData["WebSiteTitle"] = "Sign Up";
    Layout = null;
}

@model AppUserSignUpVM

<!DOCTYPE html>
<html lang="en"
      class="light-style"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/img/multishoplogo.PNG">

    <title>Multishop - @ViewData["WebSiteTitle"]</title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <!-- loader style -->
    <style>
        #loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            z-index: 999
        }
    </style>
    <!-- loader style -->

</head>

<body class="" style="font-family:'Comic Sans MS', sans-serif">

    <!-- loader -->
    <div id="loading">
        <img src="~/img/808.gif" alt="Yükleniyor..." />
    </div>

    <script>
        window.addEventListener('load', fg_load)

        function fg_load() {
            document.getElementById('loading').style.display = 'none'
        }
    </script>
    <!-- loader -->

    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- navbar -->
                <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid pe-0">
                        <a asp-action="Index" asp-controller="Home" asp-area="" class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-info btn-outline-danger">
                            <span class="text-uppercase text-danger bg-warning px-2">Multi</span>
                            <span class="text-uppercase text-warning bg-danger px-2 ml-n1">Shop</span>
                        </a>
                        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7 me-lg-7">
                                <li class="nav-item text-center">
                                    <a asp-action="SignIn" class="nav-link me-2">
                                        <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                        Sign In
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- navbar -->
            </div>
        </div>
    </div>

    <!-- main -->
    <main class="main-content mt-0">
        <section>
            <div class="min-vh-50">
                <div class="page-header align-items-start min-vh-50 pt-4 pb-11 m-2 border-radius-lg">
                    <span class="mask bg-gradient-warning opacity-7"><img src="https://img.freepik.com/premium-photo/shopper-using-computer-laptop-input-order-with-trolley-credit-card-delivery-truck-online-shopping-ecommerce-technology-concept_29488-6092.jpg?w=740" style="width:100%; height:435px" /></span>
                </div>
                <div class="container mt-6">
                    <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-12 d-flex flex-column mx-auto">
                            <div class="card z-index-0">
                                <br />
                                <div class="card-header pb-2 text-center bg-transparent">
                                    <h3 class="font-weight-bolder text-warning text-gradient">Welcome !</h3>
                                </div>
                                <div class="card-body" style="font-family:'Comic Sans MS'">
                                    <form method="post" asp-action="SignUp" asp-controller="Account" asp-area="" id="signUpForm">
                                        <div class="d-grid">
                                            <div class="row">
                                                <div class="col-12 col-xl-6 col-lg-6">
                                                    <div class="mb-3" style="text-align:center">
                                                        <label asp-for="Name">Name <span class="text-danger">*</span></label>
                                                        <input type="text" asp-for="Name" id="name" class="form-control" placeholder="Enter your name" autofocus minLength="2" maxlength="20" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-6 col-lg-6">
                                                    <div class="mb-3" style="text-align:center">
                                                        <label asp-for="Surname">Surname <span class="text-danger">*</span></label>
                                                        <input type="text" asp-for="Surname" id="surname" class="form-control" placeholder="Enter your surname" minLength="2" maxlength="20" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-grid">
                                            <div class="row">
                                                <div class="col-12 col-xl-6 col-lg-6">
                                                    <div class="mb-3" style="text-align:center">
                                                        <label asp-for="Username">Username <span class="text-danger">*</span></label>
                                                        <input type="text" asp-for="Username" id="username" class="form-control" placeholder="Enter your username" minLength="5" maxlength="20" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-6 col-lg-6">
                                                    <div class="mb-3" style="text-align:center">
                                                        <label asp-for="Email">Email <span class="text-danger">*</span></label>
                                                        <input type="email" asp-for="Email" id="email" class="form-control" placeholder="Enter your email" minLength="5" maxlength="50" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-grid">
                                            <div class="row">
                                                <div class="col-12 col-xl-6 col-lg-6">
                                                    <div class="mb-3" style="text-align:center">
                                                        <label asp-for="Password">Password <span class="text-danger">*</span></label>
                                                        <input type="password" asp-for="Password" class="form-control" placeholder="Enter your password" aria-label="Password" minLength="8" maxlength="16" required>
                                                        <a href="#" class="form-icon-right password-show-hide btn-danger" title="Hide or show password">
                                                            <i class="mdi mdi-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-6 col-lg-6">
                                                    <div class="mb-3" style="text-align:center">
                                                        <label asp-for="ConfirmPassword">Re-password <span class="text-danger">*</span></label>
                                                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter your re-password" minLength="8" maxlength="16" required>
                                                        <a href="#" class="form-icon-right password-show-hide btn-danger" title="Hide or show password">
                                                            <i class="mdi mdi-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-info text-left">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked required>
                                            <label class="form-check-label" for="flexCheckDefault">
                                                I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions <span class="text-danger">*</span></a>
                                            </label>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="ModelOnly" style="text-align:center; font-size:17px; list-style-type:none"></div>
                                        <div class="text-center">
                                            <button type="submit" class="btn bg-gradient-dark w-100 my-3 mb-2" style="text-transform:capitalize; font-weight:100; font-size:16px">Sign Up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- main -->
    <!-- footer -->
    <footer class="footer py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        Copyright © <script>
                                        document.write(new Date().getFullYear())
                        </script> Multishop
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
</body>

<!--   Core JS Files   -->
<script src="~/js/site.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/perfect-scrollbar.min.js"></script>
<script src="~/js/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/js/soft-ui-dashboard.min.js?v=1.0.7"></script>

</html>