<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/img/multishoplogo.PNG">
    <title>Multishop -  @ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/ovio admin template/bootstrap/css/bootstrap.min.css">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Template style -->
    <link rel="stylesheet" href="~/ovio admin template/dist/css/style.css">
    <link rel="stylesheet" href="~/ovio admin template/dist/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/ovio admin template/dist/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/ovio admin template/dist/weather/weather-icons.min.css">
    <link type="text/css" rel="stylesheet" href="~/ovio admin template/dist/weather/weather-icons-wind.min.css">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <script src="~/ovio admin template/plugins/charts/code/highcharts.js"></script>

</head>