@{
    ViewData["Title"] = "Update Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model ProductUpdateVM

<div class="row">
    <div class="col-md-12">
        <br />
        <div class="chart-box" style="font-family:'Comic Sans MS'">
            <br />
            <h2 class="text-center" style="font-family:'Comic Sans MS'; color:skyblue">Products</h2><span class="text-danger" style="text-transform:lowercase; font-family:'Comic Sans MS'">(* required field)</span>
            <br /><hr />
            <form asp-action="Update" asp-controller="Product" asp-area="Admin" method="post" class="container-fluid py-4" style="font-family:'Comic Sans MS'; text-align:center">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group text-truncate row">
                    <div class="col-12 col-lg-12">
                        <label asp-for="Name" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Name <span class="text-danger">*</span></label>
                        <input asp-for="Name" class="lable-tag tag-info btn btn-info btn-rounded btn-block" style="cursor:text" required />
                    </div>
                </div>
                <div class="form-group text-truncate row">
                    <div class="col-12 col-lg-12">
                        <label asp-for="Price" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Price <span class="text-danger">*</span></label>
                        <input asp-for="Price" class="lable-tag tag-info btn btn-info btn-rounded btn-block" style="cursor:text" required />
                    </div>
                </div>
                <div class="form-group text-truncate row">
                    <div class="col-12 col-lg-12">
                        <label asp-for="CategoryId" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Categories <span class="text-danger">*</span></label>
                        <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="lable-tag tag-info btn btn-info btn-rounded btn-block"></select>
                    </div>
                </div>
                <div class="form-group text-truncate row">
                    <div class="col-12 col-lg-6">
                        <input type="submit" value="Product Update" class="lable-tag tag-success btn btn-outline-success btn-rounded btn-block" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <a asp-action="Index" class="lable-tag tag-warning btn btn-outline-warning btn-rounded btn-block" title:"Go to Products">Cancel</a>
                    </div>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>