@{
    ViewData["WebsiteTitle"] = "Contact";
}

@model ContactAddVM

<!-- Contact Start -->
<div class="container-fluid" style="font-family:'Comic Sans MS'; text-align:center">
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-white p-30">
                <h2 class="form-group position-relative text-center bg-danger text-danger"><span class="bg-warning pr-3">&nbsp;Contact Us</span></h2><span class="text-danger" style="text-transform:lowercase; font-family:'Comic Sans MS'">(* required field)</span>
                <form asp-action="Add" asp-controller="Contact" asp-area="" method="post" class="container-fluid" style="font-family:'Comic Sans MS'; text-align:center">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NameSurname" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Your Name Surname <span class="text-danger">*</span></label>
                        <input asp-for="NameSurname" class="lable-tag btn btn-warning btn-rounded btn-block text-white" minLength="5" maxLength="50" style="cursor:text" required placeholder="Please enter your name surname" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Your Email <span class="text-danger">*</span></label>
                        <input asp-for="Email" class="lable-tag btn btn-warning btn-rounded btn-block text-white" minLength="5" maxLength="50" style="cursor:text" required placeholder="Please enter your email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Subject <span class="text-danger">*</span></label>
                        <input asp-for="Subject" class="lable-tag btn btn-warning btn-rounded btn-block text-white" minLength="5" maxLength="50" style="cursor:text" required placeholder="Please enter a subject" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label" style="text-align:start; font-size:16px; font-weight:bold; color:indigo;">Please enter a message <span class="text-danger">*</span></label>
                        <textarea asp-for="Message" class="lable-tag btn btn-warning btn-rounded btn-block text-white" minLength="10" maxLength="250" cols="30" rows="5" style="cursor:text" required placeholder="Please enter a subject"></textarea>
                    </div>
                    <br />
                    <div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Send your message" class="lable-tag tag-warning btn btn-outline-warning btn-rounded btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <iframe class="py-5" style="width: 100%; height: 440px; border:0;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.7733148698862!2d29.008080375860846!3d41.052086071344355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7afd662296b%3A0x838c088492dac437!2zWcSxbGTEsXogVGVrbmlrIMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1719966465488!5m2!1str!2str"
                    frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="bg-warning p-30 mb-5">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-danger mr-3"></i>Yıldız Technical University, Beşiktaş, Istanbul</p>
                <p class="mb-2"><i class="fa fa-envelope text-danger mr-3"></i>info@example.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-danger mr-3"></i>+012 345 67890</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->